version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - HTTP_PORT=8080
      - MASTER_DSN=postgres://postgres:postgres@db:5432/postgres?sslmode=disable
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network
#  RabbitMQ:
#    image: rabbitmq:3-management
#    container_name: rabbitmq
#    ports:
#      - "5672:5672"
#      - "15672:15672"
#    environment:
#      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
#      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
#    volumes:
#      - rabbitmq_data:/var/lib/rabbitmq
#  Redis:
#    image: redis:7
#    container_name: redis
#    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
#    ports:
#      - "6379:6379"
#    volumes:
#      - redis_data:/data

volumes:
  postgres_data:
#  rabbitmq_data:
#  redis_data:
networks:
  app-network:
    driver: bridge

  # To start the services, run: docker-compose up -d
  # To stop the services, run: docker-compose down